/*....GOOGLE FONTS ...*/
@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');

/*RESET: Los estilos aplicados en esta seccion se reflejaran en todos los documentos html.El símbolo * representa un selector universal */
* {
    margin: 0;
    padding: 0;
    font-family: 'Caudex', serif;
    box-sizing: border-box;
}

/*HEADER*/

header {
    background-image: url('../img/adn\ doc.webp');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    width:100%;
    color: #fff;
    background-color:#000;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    border: 0.5rem double;
    border-color: #fff;
    padding: 20px;
}


header nav {
    /*<nav> mide 100% del ancho del header*/
    width: 100%;
    justify-content: space-around;
}
/*EL LOGO PASO A SER HIJO DEL NAV DE BOOTSTRAP*/
header nav .logo {
    width: 187.5px;
    height: 172.5px;
    border-radius: 50%;
    border-style: double;
    border-color: white;
    background-color: #29799e;
    border-width: 10px;
    margin: 10px;
    padding: 2px;

}

header nav ul {
    /*<ul> mide 100% del ancho de nav*/
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li a{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    font-size: 1.25rem; 
    font-weight: bold;
    background-color: #000;
    border:2px solid #c6c72c;
    border-radius: 10px;
    margin: 5px 3px;
    padding: 3px 10px;
    transition: all 1s;
}
header nav ul li a:hover {
    background-color:#ffffff5a;
    color:#000;
    transform:scale(1.1);
}

/*ESTA CLASE QUE SE DEBE COLOCAR EN EL DOC _generales*/
.hamburguesa {
    width: 3rem;
    height: 3rem;
    background-color: #26bbe4;
    border-color: #fff;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    margin: 0px;
}

/*...MAIN...*/

/*ESTILOS APLICADOS A TODOS LOS h2 DEL PROYECTO
SE GUARDA EN _generales.scss*/
h2 {
    width:100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #929292;
    font-size: 1.5rem;
    font-weight: bolder;
    border: 0.5rem double #000;
    margin: 5px 0;
    padding: 10px;
}

.index-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../img/cirujanos.webp");
    width: 100%;
    height: calc(100vh - 200px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
}

.index-hero p {
    width: 100%;
    height: auto;
    background-color: #ffffff5a;
    color: #000;
    border: 0.5rem double #000;
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
/*MAIN*/
.contenedor-tarjetas {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom right,#29799e,#26bbe4,#fff);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.tarjeta {
    /*BOX SHADOW*/
    
    width: 350px;
    height: auto;
    background-color: #000;
    border-style: ridge;
    border-width: 5px;
    border-color: #fff;
    margin: 20px;
    padding: 10px;
    text-align: center;
    transition: 2s;
}
.tarjeta:hover{
    -webkit-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);

    transform:scale(1.1);
}

.tarjeta h3 {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border: 0.5rem double #000;
    background-color: #c6c72c;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0;
}

.tarjeta img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.tarjeta p {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6c72c;
    border: 0.5rem double #fff;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

/*BOTON WHATSAPP SE COLOCA EN GENERALES*/
.enlace-whatsapp a :hover {
    background-color: #000;
    color: #64d448;
    transform:scale(1.2);
}
.enlace-whatsapp i {
    font-size: 3rem;
    background-color: #64d448;
    color: #fff;
    position: fixed;
    top: 20px;
    right: 30px;
    border-radius: 10px;
    transition: 1s;
}

/*...FOOTER...*/
footer {
    width: 100%;
    height: auto;
    background-image: url('../img/adn\ doc.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

footer .logo {
    width: 187.5px;
    height: 172.5px;
    border-radius: 50%;
    border-style: double;
    border-color: white;
    background-color: #29799e;
    border-width: 10px;
    margin: 10px;
    padding: 2px;
    
}
footer .iconos{
    display: flex;
    flex-direction:column;
}

footer .iconos i{
    width: 235.39px;
    height: 43.2px;
    background-color: #ffffff5a;
    border-color: #c6c72c;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bolder;
    color: #000;
}

footer address {
    background-color: #ffffff5a;
    color: #000;
    font-size: 1.25rem;
    font-weight: bold;
    border-color: #c6c72c;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

footer iframe {
    width: 250px;
    height: 150px;
    margin: 10px;
    border-color: #c6c72c;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

/* ESTILOS NOSOTROS*/
.contenedor-nosotros{
    display: flex;
}
.div-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    background-image: linear-gradient(to right,#29799e, #26bbe4,#000); 
}

.div-1 img {
    width: 50%;
    height: auto;
    margin: 0;
    padding-top: 5px;
}

.div-1 p {
    width: 50%;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin: 10px;
    padding: 10px;
}

/*ESTILOS SERVICIOS*/
.grid-servicios {
    border-style: inset;
    border-width: 5px;
    border-color: #26bbe4;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas:
        "s-1 s-9 s-4 s-4"
        "s-1 s-6 s-10 s-3"
        "s-8 s-2 s-7 s-3"
        "s-8 s-2 s-5 s-5";
}
/*ESTA CLASE AFECTA A TODAS LAS IMAGENES DE LA GRID
SE AGREGA A _gnerales*/
.grid-servicios img {
    object-fit: cover;
    -webkit-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
}

/*...GRID ITEMS...*/
.servicios-1 {
    grid-area: s-1;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color:#000;
}

.servicios-2 {
    grid-area: s-2;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-3 {
    grid-area: s-3;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-4-contenedor {
    grid-area: s-4;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#26bbe4, #fff ); 
    padding: 0px;
}

.servicios-4 {
    width: 75%;
    height: 100%;
    border-width: 4px;
    border-color: #929292;
    border-style: inset;
    padding: 5px;
    background-color: #000;

}

.servicios-5-contenedor {
    grid-area: s-5;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#29799e, #fff);
    padding: 0px;
}

.servicios-5 {
    width: 80%;
    height: 100%;
    border-width: 4px;
    border-color: #929292;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-6-contenedor {
    grid-area: s-6;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#29799e, #fff);
    padding: 0px;
}

.servicios-6 {
    width: 60%;
    height: 100%;
    border-width: 4px;
    border-color: #929292;
    border-style: inset;
    padding: 5px;
    background-color: #000;

}

.servicios-7-contenedor {
    grid-area: s-7;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#26bbe4, #fff);
    padding: 0px;
}

.servicios-7 {
    width: 60%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-8 {
    grid-area: s-8;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-9 {
    grid-area: s-9;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-10 {
    grid-area: s-10;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

/*ESTAS 3 CLASES APLICAN PARA SERVICIOS GENERALES Y 
BODY THERAPY. SE COLOCAN EN _generales*/

.gama {
    width: 100%;
    height: auto;
    background-image: linear-gradient(#26bbe4, #fff) ; 
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}
.gama h3 {
    width: 100%;
    background-color: #c6c72c;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: 0.5rem double #000;
    margin-top: 10px;
    padding: 10px;
}
.gama ul {
    font-size: 1.5rem;
    color: #000;
}

/*...ESTILOS BODY THERAPY...*/

.body-hero {
    background-image: url("../img/nutricionista.webp");
    width: 100%;
    height: calc(100vh - 200px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.body-hero p{
    width: auto;
    height: auto;
    background-color: #ffffff5a;
    color: #000;
    border: 0.5rem double #000;
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold; 
}


/*--GRID BODY THERAPY--*/
.grid-body {
    border-style: inset;
    border-width: 5px;
    border-color: #26bbe4;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-areas:
    "b-1 b-2 b-3"
    "b-1 b-6 b-4-5"
    "b-7 b-6 b-8";
}

/*...GRID ITEMS...*/
.body-1 {
    grid-area: b-1;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.body-2-contenedor {
    grid-area: b-2;
    display: flex;
    justify-content: center;
    background-image:linear-gradient(#26bbe4 ,#29799e);
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
}

.body-2 {
    -webkit-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    width: 60%;
    height: 100%;
    border-width: 4px;
    border-color: #929292;
    border-style: inset;
    padding: 5px;
    background-color: #29799e;
}

.body-3 {
    grid-area: b-3;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.body-4-5-contenedor {
    grid-area: b-4-5;
    display: flex;
    justify-content: center;
    background-color: #929292;
}

.body-4 {
    width: 50%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.body-5 {
    width: 50%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}


.body-6 {
    grid-area: b-6;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.body-7 {
    grid-area: b-7;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.body-8 {
    grid-area: b-8;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

/*ESTILOS CONTACTO*/

/*CARRUSEL BOOTSTRAP*/
/*ESTA CLASE SE AGREGA A _generales*/
.div-bs {
    width: 100%;
    height: auto;
    background-image:linear-gradient(#29799e, #929292);
}

.carrusel-imagen {
    width: 100%;
    height: calc(100vh - 200px);
    object-fit: contain;
    margin: 10px;
    padding: 10px;
}

.contacto-p {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #c6c72c;
    border: 0.5rem double #000;
    padding: 10px;
    font-size: 2rem;
    font-weight:bold;
}


/* ---MEDIA QUERIES INDEX---*/
@media screen and (max-width:992px) {
/*EN SASS SE DEBE ESPECIFICAR header nav .logo{
    Y footer .logo{*/
    .logo {
        width: 140.6px;
        height: 129.3px;
    }

    header nav ul li a {
        font-size: medium;
    }
    .enlace-whatsapp {
        display: none;
    }

    .index-hero p {
    font-size: 2.5rem;
}
    footer iframe {
    width: 250px;
    height: 150px;
    margin: 5px;
    }

}
@media screen and (max-width: 850px){
        .index-hero p{
            font-size: 2rem;
        }
}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    .index-hero {
        height: calc(100vh - 300px);
    }
    

    .index-hero p {
        font-size: 1.75rem;
    }

    .contenedor-secciones p {
        border: 0.25rem solid #000;
        padding: 5px;
        font-size: 0.80rem;
        font-weight: 700;
    }

    .contenedor-secciones div {
        /*BOX SHADOW*/
        -webkit-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0);
        -moz-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0);
        box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0);
    }

    footer iframe {
        width: 200px;
        height: 100px;
    }

    .iconos ul li i {
        font-size: 1rem;
    }

    footer address {
        font-size: 1rem;
    }
}

@media screen and (max-width:680px) {
    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1rem;
    }

    .index-hero p {
        font-size: 1.5rem;
        font-weight: bold;
    }

    header nav .logo {
        width: 105.5px;
        height: 97px;
    }
}

@media screen and (max-width: 576px) {

    .index-hero p {
        font-size: 1rem;
        font-weight: 600;
    }

    .contenedor-secciones p {
        border: 0.25rem solid #000;
        padding: 5px;
        font-size: 0.75rem;
        font-weight: 700;
    }

    footer iframe {
        width: 200px;
        height: 100px;
    }

    .iconos ul li {
        margin: 0;
        padding: 0;
    }

    .iconos ul li i {
        font-size: 0.8rem;
        padding: 5px;
    }

    footer address {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 0.75rem;
    }

    h2 {
        font-size: .75rem
    }

    .logo {
        width: 94.9px;
        height: 87.3px;
    }

    footer {
        flex-direction: column;
    }

}

/*MEDIA QUERIES 'NOSOTROS'*/

@media screen and (max-width: 992px) {
    .nosotros img {
        width: 50%;
    }

    .nosotros p {
        width: 50%;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 780px) {
    .nosotros {
        flex-direction: column;
    }

    .nosotros img {
        width: 80%;
    }

    .nosotros p {
        width: 80%;
        font-size: 1.5rem;
        margin: 5px;
        padding: 5px;
    }
}

@media screen and (max-width: 680px) {

    .nosotros p {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 576px) {
    .nosotros p {
        font-size: 1rem;
    }

}

/*MEDIA QUERIES 'SERVICIOS GENERALES'*/
@media screen and (max-width:992px) {
    .gama {
    justify-content: space-around;
    }

}

@media screen and (max-width:850px) {
    .grid-servicios {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "s-1 s-4 s-4 "
        "s-1 s-9 s-10 "
        "s-8 s-2 s-3"
        "s-8 s-2 s-3"
        "s-6 s-7 s-5";
    }

}

@media screen and (max-width: 790px) {
    .grid-servicios {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "s-9 s-4  "
        "s-1 s-8 "
        "s-1 s-8"
        "s-2 s-10"
        "s-2 s-6"
        "s-3 s-7"
        "s-3 s-5";
    }
    .grid-servicios img {
        object-fit: cover;
        -webkit-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0);
        -moz-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0);
        box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0);
    }

}

@media screen and (max-width:680px) {
    .grid-servicios {
        grid-template-columns: 1fr;
        grid-template-areas:
        "s-9 "
        "s-4  "
        "s-1"
        "s-1 "
        "s-10"
        "s-6"
        "s-3"
        "s-3"
        "s-8"
        "s-8"
        "s-7"
        "s-5"
        "s-2"
        "s-2";
    }
}

/*MEDIA QUERIES BODY-THERAPY*/

@media screen and (max-width: 850px) {
    .grid-body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "b-1 b-2"
        "b-1 b-3"
        "b-7 b-4-5"
        "b-6 b-8"
        "b-6 b-8";
    }

    .body-hero p {
        font-size: 2.25rem;
    }
}
@media screen and (max-width: 780px) {
    .body-hero p{
        font-size: 2rem;
    }
    .body-hero{
        height: calc(100vh - 300px)
    }
}

@media screen and (max-width:680px) {
    .body-hero p {
        font-size: 1.75rem;
    }

    .grid-body {
        grid-template-columns: 1fr;
        grid-template-areas:
        "b-2"
        "b-3"
        "b-1"
        "b-1"
        "b-4-5"
        "b-6"
        "b-6 "
        "b-7"
        "b-8";
    }
}
@media screen and (max-width: 576px){
    .body-hero p{
        font-size: 1.5rem ;
    }
}
@media screen and (max-width: 480px){
.body-hero p{
    font-size: 1rem;
}
}

/*MEDIA QUERIES CONTACTO*/

@media screen and (max-width: 950px){
    .contacto-p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:750px) {
    .contacto-p {
        font-size: 1.25rem;
    }
    .div-bs {
        height: 80vh;
    }
}

@media screen and (max-width: 680px) {
    .div-bs {
        height: 70vh;
    }
    .contacto-p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .div-bs {
        height: 60vh;
    }
}