/*....GOOGLE FONTS ...*/

@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');

/*RESET: Los estilos aplicados en esta seccion se reflejaran en todos los documentos html.El símbolo * representa un selector universal */
* {
    margin: 0;
    padding: 0;
    font-family: 'Caudex', serif;
    box-sizing: border-box;
}

h1 {
    color: white;
    background-color: black;
    font-size: 2rem;
    font-style:normal;
    font-weight: bold;
    text-align: center;
    border: 0.5rem double #fff;
    padding: 20px;
}

/*HEADER*/
header {
    background-image: url(../img/adn\ doc.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    /*FLEXBOX*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.logo {
    width: 187.5px;
    height: 172.5px;
    border-radius: 50%;
    border-style: double;
    border-color: white;
    background-color: #29799e;
    border-width: 10px;
    margin: 10px;
    padding: 2px;

}

header nav {
    /*<nav> mide 75% del ancho del header*/
    width: 100%;
    justify-content: space-around;
}

header nav ul {
    /*<ul> mide 100% del ancho de nav*/
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li button {
    background-color: black;
    border-color: #c6c72c;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin: 5px 3px;
    padding: 3px 10px;
}

header nav ul li :hover {
    background-color: #ffffff5a;
    color: #000;
    transition: all .3s;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: large;

}
.hamburguesa{
    width:4rem;
    height:3rem;
    background-color: #fff;
    border-color: #000;
    border-width: 2px;
    border-style:solid;
}


/*...MAIN...*/

/*ESTILOS APLICADOS A TODOS LOS h2 DEL PROYECTO*/
h2 {
    color: #fff;
    background-color: #929292;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: 0.5rem double #000;
    margin: 5px 0;
    padding: 10px;
}

.hero {
    background-image: url("../img/cirujanos.jpg");
    width: 100%;
    height: calc(100vh - 200px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
}

.hero p {
    width: auto;
    height: auto;
    background-color: #ffffff5a;
    color: #000;
    border: 0.5rem double #000;
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

/*MAIN*/
.contenedor-secciones {
    width: 100%;
    height: auto;
    background-color: #29799e;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;

}

.contenedor-secciones div {
    /*BOX SHADOW*/
    -webkit-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);

    /*---DIV---*/
    width: 350px;
    height: auto;
    background-color: #000;
    border-style: ridge;
    border-width: 5px;
    border-color: #fff;
    margin: 20px;
    padding: 10px;
    text-align: center;

}

/*ESTILOS APLICADOS A TODOS LOS h3 DEL PROYECTO*/
h3{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border: 0.5rem double #000;
    background-color: #c6c72c;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0;
}

/*---DIV IMAGENES---*/
.contenedor-secciones img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/*---DIV PARRAFOS*/
.contenedor-secciones p {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6c72c;
    border: 0.5rem double #000;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

main i {
    width: 50px;
    height: 50px;
    font-size: 3rem;
    background-color: #64d448;
    color: #fff;
    position: fixed;
    top: 20px;
    right: 30px;
    border-radius: 10px;
}

main a :hover {
    background-color: #000;
    color: #64d448;
    transition: .3s;
}

/*...FOOTER...*/
footer {
    width: 100%;
    height: auto;
    background-image: url(../img/adn\ doc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.iconos ul li {
    list-style: none;
    background-color: #ffffff5a;
    margin: 10px;
    padding: 10px;
}

.iconos ul li i {
    width: 20px;
    height: 20px;
    font-size: 1.3rem;
    font-weight: bolder;
    color: #000;
    display: inline;
    padding: 5px;
}

footer address {
    background-color: #ffffff5a;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
}

footer iframe {
    width: 250px;
    height: 150px;
    margin: 10px;
    border-width: 3px;
    border-color: #ff3f00;
}

/*NOSOTROS*/
.nosotros{
    width: 100%;
    height:auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #29799e;
}
.nosotros img{
    width:40%;
    height:auto;
    margin:0;
    padding-top: 5px;
}
.nosotros p{
    width:60%;
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

.grid-servicios {
    border-style: inset;
    border-width: 5px;
    border-color: #26bbe4;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas:
        "s-1 s-9 s-4 s-4"
        "s-1 s-6 s-10 s-3"
        "s-8 s-2 s-7 s-3"
        "s-8 s-2 s-5 s-5";
}

.grid-servicios img {
    object-fit: cover;
    -webkit-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
}

/*...GRID ITEMS...*/
.servicios-1 {
    grid-area: s-1;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-2 {
    grid-area: s-2;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-3 {
    grid-area: s-3;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-4-contenedor {
    grid-area: s-4;
    display: flex;
    justify-content: center;
    background-color: #29799e;
    padding: 0px;
}

.servicios-4 {
    width: 75%;
    height: 100%;
    border-width: 4px;
    border-color: #929292;
    border-style: inset;
    padding: 5px;
    background-color: #000;

}

.servicios-5-contenedor {
    grid-area: s-5;
    display: flex;
    justify-content: center;
    background-color: #29799e;
    padding: 0px;
}

.servicios-5 {
    width: 80%;
    height: 100%;
    border-width: 4px;
    border-color: #929292;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-6-contenedor {
    grid-area: s-6;
    display: flex;
    justify-content: center;
    background-color: #26bbe4;
    padding: 0px;
}

.servicios-6 {
    width: 60%;
    height: 100%;
    border-width: 4px;
    border-color: #929292;
    border-style: inset;
    padding: 5px;
    background-color: #000;

}

.servicios-7-contenedor {
    grid-area: s-7;
    display: flex;
    justify-content: center;
    background-color: #929292;
    padding: 0px;
}

.servicios-7 {
    width: 60%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-8 {
    grid-area: s-8;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-9 {
    grid-area: s-9;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-10 {
    grid-area: s-10;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.servicios-h3 {
    width: 100%;
    background-color: #c6c72c;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border: 0.5rem double #000;
    margin-top: 10px;
    padding: 10px;
}
/*ESTA CLASE APLICA PARA LA GAMA DE SERVICIOS GENERALES Y BODY THERAPY*/
.gama {
    width: 100%;
    height: auto;
    background-color: #26bbe4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: #000;
    line-height: 2.1rem;
}

/*...BODY THERAPY...*/

.body-h2 {
    width: 100%;
    background-color: #fff;
    color: #29799e;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}

.body-hero {
    background-image: url("../img/nutricionista.jpg");
    width: 100%;
    height: calc(100vh - 200px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.body-hero p {
    width: 70%;
    height: auto;
    background-color: #ffffff5a;
    color: #000;
    border: 0.5rem double #000;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

/*--GRID BODY THERAPY--*/
.grid-body {
    border-style: inset;
    border-width: 5px;
    border-color: #26bbe4;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-areas:
        "b-1 b-2 b-3"
        "b-1 b-6 b-4-5"
        "b-7 b-6 b-8";
}

.grid-body img {
    object-fit: contain;
    -webkit-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 27px 18px 17px -4px rgba(0, 0, 0, 0.61);
}

/*...GRID ITEMS...*/
.body-1 {
    grid-area: b-1;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.body-2-contenedor {
    grid-area: b-2;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.body-2 {
    width: 60%;
    height: 100%;
    border-width: 4px;
    border-color: #929292;
    border-style: inset;
    padding: 5px;
    background-color: #29799e;
}

.body-3 {
    grid-area: b-3;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.body-4-5-contenedor {
    grid-area: b-4-5;
    display: flex;
    justify-content: center;
    background-color: #929292;
}

.body-4 {
    width: 50%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.body-5 {
    width: 50%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}


.body-6 {
    grid-area: b-6;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.body-7 {
    grid-area: b-7;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.body-8 {
    grid-area: b-8;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-color: #29799e;
    border-style: inset;
    padding: 5px;
    background-color: #000;
}

.body-h3 {
    width: 100%;
    background-color: #c6c72c;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border: 0.5rem double #000;
    margin-top: 10px;
    padding: 10px;
}

/*CONTACTO*/

/*CARRUSEL*/
.div-bs{
    width: 100%;
    height: auto;
    background-color: #26bbe4;
}
.imagen{
    width:100%;
    height:calc(100vh - 200px);
    object-fit:contain;
    margin:10px;
    padding: 10px;

}.contacto-p{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6c72c;
    border: 0.5rem double #000;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}


/* ---MEDIA QUERIES INDEX---*/
@media screen and (max-width:990px) {

    .logo {
        width: 140.6px;
        height: 129.3px;
    }
    
    header nav ul li a{
        font-size:medium;
    }
}
    .hero p {

        margin: 25px;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
    }

    footer iframe {
        width: 250px;
        height: 150px;
        margin: 5px;
    }

    @media screen and (max-width: 750px) {
        .icono-whatsapp {
            display: none;
        }
    .hero p {
        font-size: 2rem;
        font-weight: 900;
    }

    footer iframe {
        width: 200px;
        height: 100px;
    }

    .iconos ul li i {
        font-size: 1rem;
    }

    footer address {
        font-size: 1rem;
    }
}

@media screen and (max-width:680px) {
    h1 {
        font-size: 1rem;
    }

    main h2 {
        font-size: 1.25rem;
    }

    .hero p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 560px) {
    main h2 {
        font-size: 1rem;
    }

}

/*MEDIA QUERIES 'NOSOTROS'*/

@media screen and (max-width: 990px){
    .nosotros img{
        width:50%;
    }
    .nosotros p{
        width:50%;
        font-size: 1.5rem;
        font-weight: bold;
    }
}
@media screen and (max-width: 750px){
    .nosotros{
        flex-direction:column;
    }
    .nosotros img{
        width:80%;
    }
    .nosotros p{
        width:80%;
        font-size: 1.5rem;
        margin: 5px;
        padding: 5px;
    }
}
@media screen and (max-width: 680px){
    
    .nosotros p{
        font-size: 1.25rem;
    }
}
/*MEDIA QUERIES 'SERVICIOS GENERALES'*/

@media screen and (max-width:950px) {
    .servicios-gama {
        width: 100%;
        font-size: 1.25rem;
        color: #fff;
        margin: 5px;

    }
}

@media screen and (max-width:800px) {
    .grid-servicios {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "s-1 s-4 s-4 "
            "s-1 s-9 s-10 "
            "s-8 s-2 s-3"
            "s-8 s-2 s-3"
            "s-6 s-7 s-5";
    }

}

@media screen and (max-width: 700px) {
    .logo {
        width: 105.5px;
        height: 97px;
    }

    .servicios-h3 {
        font-size: 1rem;
    }

    .servicios-gama {
        font-size: 1rem;

    }

    .grid-servicios {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "s-9 s-4  "
            "s-1 s-8 "
            "s-1 s-8"
            "s-2 s-10"
            "s-2 s-6"
            "s-3 s-7"
            "s-3 s-5";
    }

    .iconos ul li i {
        width: 15px;
        height: 15px;
        font-size: 1rem;
    }

    footer address {
        font-size: 1rem;
        padding-top: 10px;
    }

    footer iframe {
        width: 150px;
        height: 75px;
    }

}

@media screen and (max-width:600px) {
    .servicios-gama {
        display: block;
        font-size: 0.75rem;
        text-align: center;
    }

    .grid-servicios {
        grid-template-columns: 1fr;
        grid-template-areas:
            "s-9 "
            "s-4  "
            "s-1"
            "s-1 "
            "s-10"
            "s-6"
            "s-3"
            "s-3"
            "s-8"
            "s-8"
            "s-7"
            "s-5"
            "s-2"
            "s-2";
    }

    footer address {
        font-size: .8rem;
    }
}

/*MEDIA QUERIES BODY-THERAPY*/

@media screen and (max-width: 1050px) {
    .body-gama {
        font-size: 1.25rem;
    }

}

@media screen and (max-width: 850px) {
    .grid-body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "b-1 b-2"
            "b-1 b-3"
            "b-7 b-4-5"
            "b-6 b-8"
            "b-6 b-8";
    }

    .body-hero p {
        font-size: 2rem;
    }

    .body-gama {
        font-size: 1rem;
    }
}

@media screen and (max-width:650px) {
    .body-gama {
        font-size: .9rem;
    }

    .grid-body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "b-2 "
            "b-3"
            "b-1"
            "b-1"
            "b-4-5"
            "b-6"
            "b-6 "
            "b-7"
            "b-8";
    }
}
/*MEDIA QUERIES CONTACTO*/

@media screen and (max-width:750px){
    .contacto-p{
        font-size: 1rem;
    }
    .imagen{
        height:80vh;
    }
}
@media screen and (max-width: 680px) {
    .imagen{
        height:70vh;
    }
}
@media screen and (max-width: 550px){
    .imagen{
        height: 60vh;
    }
    
}
