.comunicate{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height:auto;
    background-color: $color-2;

    .formulario-contenedor{
        background-color: $color-1;
        width: 50%;
        height:auto;
        margin: 10px;

        h4{
            width: 100%;
            height: auto;
            @extend %flex-wrap;
            background-color: $color-4;
            border: 0.5rem double;
            border-color: $color-5;
            margin-bottom: 15px;
            padding: 10px;
            font-size: nth($tamaños-fuente, 4);
            font-weight:900;
        }
    }
}

.contacto-p {
    width: 100%;
    height: 80px;
    @extend %flex-wrap;
    background-color: $color-4;
    border: 0.5rem double;
    border-color: $color-5;
    padding: 10px;
    font-size: nth($tamaños-fuente, 7);
    font-weight:bold;
}
