/*---MAIN SERVICIOS GENERALES---*/

section {

    .grid-servicios{
        border-style: inset;
        border-width: 5px;
        border-color: $color-2;
        display: grid;
        grid-auto-rows: 250px;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 5px;
        grid-template-areas:
        "s-1 s-9 s-4 s-4"
        "s-1 s-6 s-10 s-3"
        "s-8 s-2 s-7 s-3"
        "s-8 s-2 s-7 s-5";
        
        .servicios-1{
            grid-area: s-1;
            width: 100%;
            height: 100%;
            border-width: 4px;
            border-color: $color-2;
            border-style: inset;
            padding: 5px;
            background-color: $color-5;
        }
        .servicios-2{
            grid-area: s-2;
            width: 100%;
            height: 100%;
            border-width: 4px;
            border-color: $color-2;
            border-style: inset;
            padding: 5px;
            background-color: $color-5;
        }
        .servicios-3{
            grid-area: s-3;
            width: 100%;
            height: 100%;
            border-width: 4px;
            border-color: $color-2;
            border-style: inset;
            padding: 5px;
            background-color: $color-5;
        }
        .servicios-4-contenedor{
            grid-area: s-4;
            @extend %flex-center;
            background-image: linear-gradient($color-2, $color-6); 
            padding: 0px;

            .servicios-4{
                width: 100%;
                height: 100%;
                border-width: 4px;
                border-color: $color-3;
                border-style: inset;
                /*margin-top: 5px;*/
                padding: 5px;
                background-color: $color-5; 
            }
        }
            .servicios-5-contenedor{
                grid-area: s-5;
                @extend %flex-center;
                padding: 0;
                .servicios-5{
                    width: 100%;
                    height: 100%;
                    border-width: 4px;
                    border-color: $color-3;
                    border-style: inset;
                    padding: 5px;
                    background-color: $color-5;
                }    
            }
            
            .servicios-6{
                grid-area: s-6;
                width: 100%;
                height: 100%;
                border-width: 4px;
                border-color: $color-3;
                border-style: inset;
                padding: 5px;
                background-color: $color-5;
            }
        
    
            .servicios-7-contenedor{
                grid-area: s-7;

                .servicios-7{
                    width: 100%;
                    height: 100%;
                    border-width: 4px;
                    border-color: $color-1;
                    border-style: inset;
                    padding: 5px;
                    background-color: $color-5;
                }
            }     
        
        .servicios-8{
            grid-area: s-8;
            width: 100%;
            height: 100%;
            border-width: 4px;
            border-color: $color-1;
            border-style: inset;
            padding: 5px;
            background-color: $color-5;
        }
        .servicios-9{
            grid-area: s-9;
            width: 100%;
            height: 100%;
            border-width: 4px;
            border-color: $color-1;
            border-style: inset;
            padding: 5px;
            background-color: $color-5;
        }
        .servicios-10{
            grid-area: s-10;
            width: 100%;
            height: 100%;
            border-width: 4px;
            border-color: $color-1;
            border-style: inset;
            padding: 5px;
            background-color: $color-5;
        }

    }
}
